numpy>=1.26,<1.27
pandas>=2.2,<2.3
scipy>=1.12,<1.16
scikit-learn>=1.4,<1.7
pandasai
streamlit
chainlit
langchain
google.generativeai
sentence_transformers
openpyxl
faiss-cpu
chromadb
lark
pypdf
tabulate
docx2txt
langchain-community
langchain-openai
langchain-core>=0.3.59,<1.0.0
langchain-community>=0.0.30 
langchain-openai>=0.1.8
langchain-huggingface==0.2.0
pydantic>=2.7.0
pydantic-settings>=2.7.0
dataframe-image
pymupdf
matplotlib
python-docx