pandas
pandasai
streamlit
chainlit
langchain
google.generativeai
sentence_transformers
openpyxl
faiss-cpu
chromadb
lark
pypdf
tabulate
docx2txt
langchain-community
langchain-openai
pydantic==1.*
dataframe-image
pymupdf